@import "tailwindcss";

@config "../../tailwind.config.cjs";

/* Custom rich text */
@layer base {
  html {
    @apply scroll-smooth bg-neutral-900 text-neutral-200;
  }

  .rich-text {
    @apply text-left text-lg;

    > * {
      @apply mb-8;

      &:is(h1, h2, h3, h4, h5, h6) {
        @apply bg-gradient-to-r from-primary-400 to-primary-300 bg-clip-text font-bold text-transparent text-xl;
      }

      &:is(p) {
        a {
          @apply border-b-2 border-transparent bg-gradient-to-r from-primary-400 to-primary-300 bg-clip-text font-medium text-transparent transition hover:border-primary-400;
        }

        b,
        strong {
          @apply font-medium;
        }

        code {
          @apply inline rounded-md bg-neutral-700 px-2 py-1 font-mono font-normal text-neutral-100 shadow-sm;
        }
      }

      &:is(ol, ul) {
        @apply ml-6;

        a {
          @apply border-b-2 border-transparent bg-gradient-to-r from-primary-400 to-primary-300 bg-clip-text font-medium text-transparent transition hover:border-primary-400;
        }
      }

      &:is(ul) {
        @apply list-disc;
      }

      &:is(ol) {
        @apply list-decimal;
      }

      &:is(pre) {
        @apply max-h-[min(1000px,80vh)] overflow-auto rounded p-4 text-base;

        &::-webkit-scrollbar {
          @apply h-2 w-2;
        }

        &::-webkit-scrollbar-thumb {
          @apply rounded bg-neutral-300/50;
        }
      }
    }
  }
}

@layer utilities {
  .gradient-primary {
    @apply bg-gradient-to-r from-primary-400 to-primary-300 bg-clip-text text-transparent;
  }

  .gradient-primary-hover {
    @apply border-b-2 border-transparent bg-gradient-to-r from-primary-400 to-primary-300 bg-clip-text text-transparent transition-colors hover:border-primary-400;
  }
}
